.App {
  display: grid;
  justify-content: center;
  align-items: center;
}

.list {
  width: auto;
  margin: 50px auto 0;

  background-color: rgb(91, 139, 151);

  height: auto;
  padding: 7px 10px 17px;
  border: 1px solid rgb(69, 106, 116);
  border-radius: 5%;
  display: grid;
  box-shadow: 10px 4px 5px rgba(0, 0, 0, 0.315);
}

.task {
  background-color: rgba(255, 255, 255, 0.459);
  height: auto;
  width: 270px;
  padding: 8px;
  margin: 10px 5px;
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Xbtn {
  background-color: rgba(255, 255, 255, 0.246);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 2px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}
.Xbtn:hover {
  background-color: rgba(20, 20, 20, 0.103);
  color: white;
}
.form {
  width: auto;
}
